---
import BaseLayout from "../layouts/BaseLayout.astro";

let title ="About";
---
<BaseLayout  title ={title}>
<p>
	About- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sunt laudantium expedita tempora magnam quod. Ea quasi quos non labore sunt nihil cupiditate corporis, molestiae soluta ipsam odio consequuntur. Ex.
</p>
</BaseLayout>