---
import BaseLayout from "../layouts/BaseLayout.astro";

let title ="Gallery"
---

<BaseLayout  title ={title}>
<p>
   Gallery - Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod inventore impedit, similique totam in laudantium, mollitia nostrum iure alias incidunt? Libero ducimus in deserunt asperiores accusamus rerum cum quaerat.
</p>
</BaseLayout>